<div class="widget-wrap">
  <h3 class="widget-title"><%= __('follow_mes') %></h3>
	<div style="text-align: center;">
		<img src="<%= theme.official_accounts_img %>" style="width: 100%; max-width: 250px;">
	</div>
</div>